.u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-form-1 {
  height: 241px;
  margin: 226px 355px 0 485px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: -243px auto 33px 73px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-right: 255px;
    margin-left: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 145px;
    margin-left: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 55px;
    margin-left: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}