.u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-1 .u-tabs-1 {
  min-height: 858px;
  width: 1080px;
  margin: 124px auto 0;
}

.u-section-1 .u-tab-link-1 {
  padding: 5px 20px;
}

.u-section-1 .u-tab-link-2 {
  padding: 5px 20px;
}

.u-section-1 .u-tab-link-3 {
  padding: 5px 20px;
}

.u-section-1 .u-tab-link-4 {
  padding: 5px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: -898px 36px 60px 717px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }
}